[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = "*"
pytest = "*"
mypy = "*"
tox = "*"
pytest-cov = "*"
riemann-zeta = {path = ".", editable = true}

[packages]
connectrum = "*"
mypy-extensions = "*"

[requires]
python_version = "3.6"
